.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 224px;
  width: 100%;
}

.time {
  font-size: 256px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  transition: 400ms;
}

.time.running {
  font-weight: 600;
}

[data-theme="light"] {
  --c-red: #471515;
  --c-green: #14401d;
  --c-blue: #153047;
}

[data-theme="dark"] {
  --c-red: #fff2f2;
  --c-green: #f2fff5;
  --c-blue: #f2f9ff;
}

.focus {
  color: var(--c-red);
}

.break {
  color: var(--c-green);
}

.long-break {
  color: var(--c-blue);
}
