.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  gap: 32px;
}

.focus {
  background: var(--bg-working);
}

.break {
  background: var(--bg-break);
}

.long-break {
  background: var(--bg-long-break);
}

.chips {
  display: flex;
  gap: 24px;
}
